body {
    font-family: 'Poppins', sans-serif;
}

.hero {
    background: url('../image/header-bg.png') no-repeat center/cover !important;
    padding: 160px 0 100px;
    color: #000;
    z-index: 99999999;
}

.hero-title {
    font-size: 2.2rem;
}

.hero-subtitle {
  font-size: 1.1rem;
  margin-top: 1rem;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  line-height: 1.5;
  margin-bottom: 3.5%;
}

.btn-jelajahi {
    background: #E4947D;
    color: #ffffff;
    padding: 10px 30px;
    border-radius: 10px;
    border: none;
    font-size: 1.1rem;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s ease;
    margin-right: 5px;
    text-decoration: none;
}

.btn-jelajahi:hover {
    background: #f0baab;
    transform: scale(1.05);
}


.filter-btn {
    border: 1px solid #d9534f;
    padding: 6px 18px;
}

.filter-btn.active,
.filter-btn:hover {
    background: #d9534f;
    color: #fff;
}

.product-card img {
    height: 220px;
    object-fit: cover;
}

.footer {
    background: #faf3d6;
}

.footer ul li {
    margin-bottom: 6px;
}

.copyright {
    background: #e8ddbe;
}
